*{
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
outline: none;
}
.formulario{
    font-family: "Noto Serif", serif;;
    text-align: center;
    background-color: rgb(122, 63, 122);
    height: 50vh;
}
.lottie{
    background-color: rgb(141, 158, 77);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
